@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --div-color: #4d4d4d;
  --fColor: white;
  --fBcolor: black;
  --bg-color: #242424;
  --fSize: 25px;
  --bColor: #00bf63;
  --hColor: #077540;
}
